* {
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
  scrollbar-color: #000 #eee;
  scrollbar-width: thin;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(244, 244, 244);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #005;
  font-weight: bolder;
}

.active {
  color: #005;
  font-weight: bolder;
}

/*----------HEADER---------*/

.header {
  container-type: inline-size;
  container-name: header;
}

.title {
  margin-top: 60px;
  font-size: 55px;
}


/*----------HEADER END---------*/


/*----------BARRA NAVEGACIÓN---------*/

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  list-style: none;
  margin: 60px;
  font-size: 25px;
  container-type: inline-size;
  container-name: nav;
}

ul {
  padding: 0;
}

/*----------BARRA NAVEGACIÓN END---------*/


/*----------QUOTE---------*/


.quote {
  text-align: center;
  padding: 0px 40px 40px 40px;
  line-height: 2;
  font-weight: 600;
}


/*----------MAIN---------*/


.main {
  container-type: inline-size;
  container-name: main;
}

article {
 margin-top: 80px;
}

.blog-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.blog-title > a:hover {
  font-size: 34px;
}

.date {
  margin-top: -10px;
  margin-bottom: 8px;
}

article p::first-letter {
  font-style: italic;
  color: #005;
  initial-letter: 2 1;
  padding-right: 6px;
}

.imagen {
  display: flex;
  width: 300px; 
  height: 300px;
}

.imagen-text {
  text-align: center;
  margin-right: 230px;
}

.etiqueta {
  width: 13px;
  height: 13px;
  margin-right: 4px;
}

main {
  margin-bottom: 50px;
}

.go-up {
  font-size: 14px;
  position: fixed;
  bottom: 20px;
  right: 500px;
  padding: 8px 12px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}


/*----------MAIN END---------*/


/*----------FOOTER---------*/


footer {
  margin-top: 50px;
  text-align: center;
  padding: 8px;
}

.icon {
  margin-left: 4px;
}

/*----------FOOTER END---------*/


/*----------FORMULARIO---------*/

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: 90%;
  padding: 20px;
}

.form-group {
  margin: 40px 0 40px 0;
}

label {
  font-weight: bold;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
 resize: none;
 height: 12vh;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  font-size: 18px;
  margin-top: 40px;
  text-align: center;
}

button {
  background-color: transparent;
  color: #000;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
}

button:hover {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
  transition: 1s;
}

/*----------FORMULARIO END---------*/


/*----------NOT FOUND---------*/

.not-found-title {
  text-align: center;
  margin: 80px;
  font-size: 60px;
}

.not-found-subtitle {
  text-align: center;
  margin: 60px 0 120px 0;
  font-size: 35px;
}

.go-back {
  margin-bottom: 200px;
}


/*----------NOT FOUND END---------*/


@media (max-width: 713px) {
  .title {
    font-size: 52px;
    text-align: center;
    margin-top: 10px;
  }
  .quote {
   font-size: 16px;
   font-weight: bold;
  }
  article {
    margin: 30px;
  }
  .go-up {
    font-size: 10px;
    padding: 6px 9px;
    bottom: 500px;
    right: 20px;
  }
}

@media (max-width: 1800px) {
  .go-up {
    bottom: 500px;
    right: 20px;
  }
}